* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { 
    --dark-blue: #091746;
    --light-marron: #AD7761;
    --font-highlight: 'DM Serif Display', serif;
}

body {
    background-color: var(--dark-blue);
    font-family: 'Nunito', sans-serif;
}